/* Home */

section#section-home h3 {
    font-size: 18px;
    color: #999;
}

.home-collection {
    margin-top: 32px;
    overflow: hidden;
    position: relative;
    height: 418px;
    background-color: #111;
    opacity: 0;
}

.dark-mode .home-collection {
    background-color: #EEE;
}

img.home-collection-banner {
    height: 320px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.home-collection-details {
    height: 98px;
    position: absolute;
    margin-top: 320px;
    display: flex;
    align-items: center;
    width: 100%;
}

.home-collection-details h4 {
    color: #EEE;
    font-size: 30px;
    margin-left: 24px;
}

.dark-mode .home-collection-details h4 {
    color: #111;
}

.home-collection-details a {
    border: 4px solid #EEE;
    line-height: 1;
    color: #EEE;
    padding: 12px;
    font-size: 18px;
    position: absolute;
    right: 24px;
}

.dark-mode .home-collection-details a {
    border-color: #111;
    color: #111;
}

.no-touch .home-collection-details a:hover,
.home-collection-details a:active {
    border-color: #999;
}

img.home-collection-profile {
    position: absolute;
    width: 96px;
    border: 4px solid #EEE;
    margin-left: 24px;
    margin-top: 232px;
}

.dark-mode img.home-collection-profile {
    border-color: #111;
}

#home-collections p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 160px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    section#section-home h2 {
        font-size: 30px;
    }
    
    section#section-home h3 {
        font-size: 16px;
    }
    
    .home-collection {
        height: 492px;
    }
    
    .home-collection-details {
        height: 172px;
    }
    
    .home-collection-details h4 {
        margin-top: -74px;
    }
    
    .home-collection-details a {
        bottom: 24px;
        width: calc(100% - 80px);
        text-align: center;
    }
}