/* How to play */

section#section-how h3 {
    margin-top: 24px;
    color: #87CEEB;
}

.how-text {
    float: left;
    width: calc(50% - 12px);
}

.how-text-right {
    float: right;
}

.how-text h4 {
    font-size: 18px;
    color: #999;
    margin-top: 20px;
}

p.how-block {
    border: 4px solid #111;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
}

.dark-mode p.how-block {
    border-color: #EEE;
}

.how-text a {
    text-decoration: underline;
}

section#section-how iframe,
section#section-how img {
    width: calc(50% - 12px);
    float: right;
    margin-top: 24px;
}

section#section-how img.how-image-left {
    float: left;
}

@media only screen and (max-width: 768px) {
    .how-text {
        width: auto;
        float: none;
    }
    
    section#section-how iframe,
    section#section-how img {
        width: 100%;
        float: none;
    }
}